@import "../../../scss/params";

.form-field {
  padding-top: $base * 3;
  //overflow: hidden;

  &:first-child {
    padding-top: 0;
  }

  &__label {
    font-weight: 500;

    &-error {
      color: $color-red;
    }
    &-success {
      color: $color-green;
    }
  }

  &_disabled &__label {
    color: $color-grey-100;
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;

    &:not(&_right):not(&_left):not(&_center) > .btn {
      width: 100%;
    }

    &_right {
      display: flex;
      align-items: flex-end;
    }
    &_left {
      display: flex;
      align-items: flex-start;
    }
    &_center {
      display: flex;
      align-items: center;
    }

    & .field-control {
      margin-top: $base * 3;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__label + &__content {
    margin-top: $base * 2;
  }
}

@media (min-width: $media-xs) {
  .form-field {
    &_row {
      display: flex;
      flex-direction: row;
      padding-top: $base * 3;

      .form-field__label {
        width: $base * 40;
        margin-right: $base * 3;
        flex: 0 0 auto;
        min-height: $input-height;
        display: flex;
        align-items: center;
        justify-content: right;
        text-align: right;
      }
      .form-field__content {
        margin-top: 0;
        flex: 1 1 auto;
      }
    }
  }
}
