@import "../../../scss/params";

.tag {
  font-size: 0.9rem;
  font-weight: 500;
  padding: $base $base * 2;
  border-radius: $border-radius-default;
  background-color: $color-blue;
  color: $color-white;
  line-height: normal;

  &_checked {
    background-color: darken($color-blue, 20%);
  }
  &:hover {
    background-color: darken($color-blue, 10%);
  }
}
