@import "../../scss/params";

$padding: $base * 4;

.header {
  padding: $base * 2 0;
  display: flex;
  flex: 0 0 auto;
  background-color: $color-grey-230;
  justify-content: center;
  z-index: 3;
  gap: $base * 2;

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex: 0 0 auto;
    flex-wrap: wrap;
    width: $media-lg - $padding * 2;
    min-height: $header-item-height;
  }
  &__left {
    display: flex;
    align-items: flex-start;
    flex: 0 0 auto;
  }
  &__center {
    display: flex;
    flex: 1 1 auto;
  }
  &__right {
    display: flex;
    align-items: flex-end;
    flex: 0 0 auto;
  }
}

@media (max-width: $media-lg) {
  .header {
    padding: $base * 2;

    &__container {
      width: 100%;
    }
  }
}

@media (max-width: $media-xs) {
  .header {
    &__container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $base * 2;
    }
    &__left {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    &__center {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    &__right {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      justify-content: flex-end;
    }
  }
}
