@import "params.scss";

.color_pink {
  color: $color-pink;
}
.color_red {
  color: $color-red;
}
.color-purple {
  color: $color-purple;
}
.color_blue-dark {
  color: $color-blue-dark;
}
.color_blue {
  color: $color-blue;
}
.color_blue-light {
  color: $color-blue-light;
}
.color_green {
  color: $color-green;
}
.color_green-dark {
  color: $color-green-dark;
}
.color_yellow {
  color: $color-yellow;
}
.color_black {
  color: $color-black;
}
.color_grey-300 {
  color: $color-grey-300;
}
.color_grey-290 {
  color: $color-grey-290;
}
.color_grey-280 {
  color: $color-grey-280;
}
.color_grey-270 {
  color: $color-grey-270;
}
.color_grey-260 {
  color: $color-grey-260;
}
.color_grey-250 {
  color: $color-grey-250;
}
.color_grey-240 {
  color: $color-grey-240;
}
.color_grey-230 {
  color: $color-grey-230;
}
.color_grey-220 {
  color: $color-grey-220;
}
.color_grey-210 {
  color: $color-grey-210;
}
.color_grey-200 {
  color: $color-grey-200;
}
.color_grey-190 {
  color: $color-grey-190;
}
.color_grey-180 {
  color: $color-grey-180;
}
.color_grey-170 {
  color: $color-grey-170;
}
.color_grey-160 {
  color: $color-grey-160;
}
.color_grey-150 {
  color: $color-grey-150;
}
.color_grey-140 {
  color: $color-grey-140;
}
.color_grey-130 {
  color: $color-grey-130;
}
.color_grey-120 {
  color: $color-grey-120;
}
.color_grey-110 {
  color: $color-grey-110;
}
.color_grey-100 {
  color: $color-grey-100;
}
.color_grey-90 {
  color: $color-grey-90;
}
.color_grey-80 {
  color: $color-grey-80;
}
.color_grey-70 {
  color: $color-grey-70;
}
.color_grey-60 {
  color: $color-grey-60;
}
.color_grey-50 {
  color: $color-grey-50;
}
.color_grey-40 {
  color: $color-grey-40;
}
.color_grey-30 {
  color: $color-grey-30;
}
.color_grey-20 {
  color: $color-grey-20;
}
.color_grey-10 {
  color: $color-grey-10;
}
.color_white {
  color: $color-white;
}

.background-color_pink {
  background-color: $color-pink;
}
.background-color_red {
  background-color: $color-red;
}
.background-color-purple {
  background-color: $color-purple;
}
.background-color_blue-dark {
  background-color: $color-blue-dark;
}
.background-color_blue {
  background-color: $color-blue;
}
.background-color_blue-light {
  background-color: $color-blue-light;
}
.background-color_green {
  background-color: $color-green;
}
.background-color_green-dark {
  background-color: $color-green-dark;
}
.background-color_yellow {
  background-color: $color-yellow;
}
.background-color_black {
  background-color: $color-black;
}
.background-color_grey-300 {
  background-color: $color-grey-300;
}
.background-color_grey-290 {
  background-color: $color-grey-290;
}
.background-color_grey-280 {
  background-color: $color-grey-280;
}
.background-color_grey-270 {
  background-color: $color-grey-270;
}
.background-color_grey-260 {
  background-color: $color-grey-260;
}
.background-color_grey-250 {
  background-color: $color-grey-250;
}
.background-color_grey-240 {
  background-color: $color-grey-240;
}
.background-color_grey-230 {
  background-color: $color-grey-230;
}
.background-color_grey-220 {
  background-color: $color-grey-220;
}
.background-color_grey-210 {
  background-color: $color-grey-210;
}
.background-color_grey-200 {
  background-color: $color-grey-200;
}
.background-color_grey-190 {
  background-color: $color-grey-190;
}
.background-color_grey-180 {
  background-color: $color-grey-180;
}
.background-color_grey-170 {
  background-color: $color-grey-170;
}
.background-color_grey-160 {
  background-color: $color-grey-160;
}
.background-color_grey-150 {
  background-color: $color-grey-150;
}
.background-color_grey-140 {
  background-color: $color-grey-140;
}
.background-color_grey-130 {
  background-color: $color-grey-130;
}
.background-color_grey-120 {
  background-color: $color-grey-120;
}
.background-color_grey-110 {
  background-color: $color-grey-110;
}
.background-color_grey-100 {
  background-color: $color-grey-100;
}
.background-color_grey-90 {
  background-color: $color-grey-90;
}
.background-color_grey-80 {
  background-color: $color-grey-80;
}
.background-color_grey-70 {
  background-color: $color-grey-70;
}
.background-color_grey-60 {
  background-color: $color-grey-60;
}
.background-color_grey-50 {
  background-color: $color-grey-50;
}
.background-color_grey-40 {
  background-color: $color-grey-40;
}
.background-color_grey-30 {
  background-color: $color-grey-30;
}
.background-color_grey-20 {
  background-color: $color-grey-20;
}
.background-color_grey-10 {
  background-color: $color-grey-10;
}
.background-color_white {
  background-color: $color-white;
}
